.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}
.sub-meunu{
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(15, 210, 213) ;
}
.top-bar .right ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding-left: 0px !important;
    margin-bottom: 0px !important;
    gap: 20px;
}
.top-bar{
    padding-bottom: 20px;
   border-bottom: 2px solid rgba(2, 22, 22, 0.068) ;
}
.top-bar .right ul a{
    text-decoration:none ;
     color:  black;
}
.sub-meunu ul {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding-left: 0px !important;
    margin-bottom: 0px !important;
}
.sub-meunu a{

    text-decoration:none ;
    font-size: 14px;
    font-weight: bold;
    color:  black;

}
.sub-meunu a:hover{
   color:  rgb(15, 210, 213);
    
}
.top-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search-box {
  position: relative;
  width: 260px;
  display: flex;
  align-items: center;
}

.search-box input {
  width: 100%;
  padding: 10px 10px 10px 35px; 
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.search-box i {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
    
  color: #555;
  font-size: 18px;
}
